// CSS Style Guide: http://codeguide.co/#css


$scheme    = hexo-config('scheme') ? hexo-config('scheme') : 'Muse';

$variables = base $scheme;


// Variables Layer
// --------------------------------------------------
for $variable in $variables
  @import "_variables/" + $variable;
for $inject_variable in hexo-config('injects.variable')
  @import $inject_variable;

// Mixins Layer
// --------------------------------------------------
@import "_mixins.styl";
for $inject_mixin in hexo-config('injects.mixin')
  @import $inject_mixin;

// Dark mode colors
// --------------------------------------------------
@import "_colors.styl";

// Common Layer
// --------------------------------------------------

// Scaffolding
@import "_common/scaffolding";

// Layout
@import "_common/outline";

// Components
@import "_common/components";


// Schemes Layer
// --------------------------------------------------
@import "_schemes/" + $scheme;


// Custom Layer
// --------------------------------------------------
for $inject_style in hexo-config('injects.style')
  @import $inject_style;
  
body {
  background: url(/images/background.jpg);  
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
  color: var(--text-color);
  font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
  font-size: 1em;
  line-height: 2;
}

// page-opacity

.content-wrap {
    background: var(--content-bg-color);
    opacity: 0.85;
    border-radius: initial;
    box-shadow: initial;
    box-sizing: border-box;
    padding: 40px;
    width: calc(100% - 252px);
}

.sidebar {
  opacity: 0.85;
  border-radius: 10px 10px 10px 10px; //边框圆角
}

.header-inner {
  border-radius: 20px 20px 20px 20px; //边框圆角
  background: rgba(255,255,255,0.85);
}

.popup {
  opacity: 0.9;
}


// 侧边头像框内部
.sidebar-inner {
  background: var(--content-bg-color);
  border-radius: 10px 10px 10px 10px; //边框圆角
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.06), 0 1px 5px 0 rgba(0,0,0,0.12), 0 -1px 0.5px 0 rgba(0,0,0,0.09);
  box-sizing: border-box;
  color: var(--text-color);
  width: 240px;
  opacity: 0;
}


// 当光标放入阅读全文上时,应用下面的配色方案
.post-button .btn:hover{
  border-color: #6f42c1;
  color: #fff;
  background: #e431d3;
  background-image: linear-gradient(90deg,#a166ab 0,#ef4e7b 25%,#f37055 50%,#ef4e7b 75%,#a166ab 100%);
}



// 光标放到文章列表上面的时候,会变成彩色
.posts-expand .post-title-link::before {
    background-image: linear-gradient(90deg,#a166ab 0,#ef4e7b 25%,#f37055 50%,#ef4e7b 75%,#a166ab 100%);
}
// 针对阅读全文按钮的美化
.post-button .btn {
    color: #555!important;
    background-color: #fff;
    border-radius: 7px;
    font-size: 16px;
    box-shadow: inset 0 0 10px 0 #e346035c;
    border: none!important;
    transition-property: unset;
    padding: 0 15px;
    border-radius: 30px 30px 30px 30px;
}
// 对页面文章的标题的美化
.posts-expand .post-title-link {
    color: #d9534f;
}
.posts-expand .post-title {
    color: #d9534f;
}
// 修改全局字体大小

.post-title-link {
    font-size: 35px;
}

.post-body {
    font-size: 1.2em;
}

// 美化h1 h2 h3 标签
.post-body h1 {
    font-size: 34px;
    color: #d9534f;
}
.post-body h2 {
    font-size: 30px;
    color: #7FB174
}
.post-body h3 {
    font-size: 26px;
    color: #d9534f
}
.post-body h4 {
    font-size: 22px;
    color: #1D6A96
}
.post-eof {
    background: #ccc;
    height: 4px;
    margin: 80px auto 60px;
    text-align: center;
    width: 88%;
}