---
import PostCard from './PostCard.astro';

interface Post {
  slug: string;
  title: string;
  description: string;
  cover?: string;
  date: string;
  categories?: string[];
}

interface Props {
  posts: Post[];
}

const { posts } = Astro.props;
---

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
  {posts.map(post => (
    <PostCard {...post} />
  ))}
</div>